Descripci√≥n del Conjunto de Datos de Boston Housing

El conjunto de datos de Boston Housing contiene informaci√≥n sobre diversas caracter√≠sticas de viviendas en diferentes √°reas de Boston. Este conjunto de datos es ampliamente utilizado para tareas de regresi√≥n y an√°lisis de precios de viviendas. A continuaci√≥n se presenta un resumen de las caracter√≠sticas y estad√≠sticas b√°sicas del conjunto de datos:

Caracter√≠sticas del Conjunto de Datos:

CRIM: Tasa de criminalidad per c√°pita por ciudad.

ZN: Proporci√≥n de terrenos residenciales zonificados para lotes de m√°s de 25,000 pies cuadrados.

INDUS: Proporci√≥n de acres comerciales no minoristas por ciudad.

CHAS: Variable ficticia del r√≠o Charles (1 si el tramo limita con el r√≠o; 0 en caso contrario).

NOX: Concentraci√≥n de √≥xidos n√≠tricos (partes por 10 millones).

RM: N√∫mero medio de habitaciones por vivienda.

AGE: Proporci√≥n de unidades ocupadas por sus propietarios construidas antes de 1940.

DIS: Distancias ponderadas a cinco centros de empleo de Boston.

RAD: √çndice de accesibilidad a carreteras radiales.

TAX: Tasa de impuesto a la propiedad por cada $10,000.

PTRATIO: Proporci√≥n alumno-maestro por ciudad.

B: 1000(ùêµùëò‚àí0.63)21000(Bk‚àí0.63)2 donde ùêµùëòBk es la proporci√≥n de personas de ascendencia afroamericana por ciudad.

LSTAT: Porcentaje de poblaci√≥n de estatus socioecon√≥mico bajo.

target: Valor medio de las viviendas ocupadas por sus propietarios en $1000's.

Estad√≠sticas B√°sicas:

El conjunto de datos contiene 506 entradas y 14 columnas.

No hay valores nulos en ninguna de las columnas.

La media de la tasa de criminalidad (CRIM) es aproximadamente 3.61.

La media del n√∫mero medio de habitaciones por vivienda (RM) es aproximadamente 6.28.

La media del valor medio de las viviendas (target) es aproximadamente $22,530.

Informaci√≥n Adicional:

La variable CHAS es una variable categ√≥rica que indica si una vivienda est√° cerca del r√≠o Charles.

Las variables CRIM, ZN, INDUS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B y LSTAT son variables num√©ricas que describen diversas caracter√≠sticas de las viviendas y sus alrededores.

La variable target es la variable objetivo que representa el valor medio de las viviendas.

In [1]:
from modules.data_generator import Data_Module

data = Data_Module()
data.load_and_explore_data()

/home/armsjs/anaconda3/envs/DataSciencePortfolio/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [2]:
data.X_origin.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [3]:
data.y_target.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: MEDV, dtype: float64

In [4]:
data.X_origin.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [5]:
data.y_target.describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

In [6]:
data.X_origin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [7]:
data.y_target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 506 entries, 0 to 505
Series name: MEDV
Non-Null Count  Dtype
--------------  -----
506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

Preparaci√≥n de datos

Verificaci√≥n de la existencia de datos perdidos: Este paso consiste en revisar si hay valores nulos en el conjunto de datos. Esto nos permite identificar qu√© columnas tienen datos faltantes y en qu√© cantidad.

Divisi√≥n de las observaciones con valores perdidos: En este paso, se separan las observaciones que contienen valores perdidos del resto del conjunto de datos. Estas observaciones se guardan en una copia del DataFrame para su an√°lisis posterior, permitiendo un manejo m√°s eficiente y organizado de los datos faltantes.

In [12]:
data.check_missing_data()

(CRIM       0
 ZN         0
 INDUS      0
 CHAS       0
 NOX        0
 RM         0
 AGE        0
 DIS        0
 RAD        0
 TAX        0
 PTRATIO    0
 B          0
 LSTAT      0
 dtype: int64,
 0)

In [11]:
data.prepare_data()

Resumen

No hay datos perdidos: Todas las columnas tienen 506 valores no nulos.

No hay observaciones con datos perdidos: El DataFrame df_missing est√° vac√≠o.

Eliminaci√≥n de duplicados: No se encontraron duplicados en el conjunto de datos.